.App {
  text-align: center;
}

.card {
    margin: auto;
    width: 400px;
    text-align: center;
    border: 10px solid lightskyblue;
    padding-bottom: 15px;
    margin-top: 20px;
    background-color: rgb(186, 225, 243);
}